<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="experiencias.component.css">
</head>
<body>
    <div>
        <h2>Experiencia</h2>
    </div>
    <div class="cotainer">
        <div class="form"> 
             <form action="">
                <li>
                    <label>Puesto</label>
                    <input type="text">
                </li>
                <li>
                    <label>Empresa</label>
                    <input type="text" name="" id="">
                </li>
                <li>
                    <label>Tipo de Empleo</label>
                    buscar la forma de poner tres opciones (completo, en curso, abandonado)
                </li>
                <li>
                    <label>Desde</label>
                    <input type="date">
                </li>
                <li>
                    <label>Hasta</label>
                    <input type="date">
                </li>
                <li>
                    <label>Descripcion</label>
                    <input type="text">
                </li>
                <li>
                    <button>Guardar cambios</button>
                </li>
            </form>
        </div>
    </div>
</body>
</html>