<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="experiencias.component.css">
</head>
<body>
    <div>
        <h2>Formacion académica</h2>
    </div>

     <div class="form"> 
         <img src="Foto.jpg" alt=""> //* buscar en internet la forma de agregar desde el formulario el logo de la institucio
          <form action="">
            <li>
                <h4>Puesto</h4>
                <input type="text">
            </li>
            <li>
                <h5>Empresa</h5>
                <input type="text" name="" id="">
            </li>
            <li>
                <h5>Tipo de Empleo</h5>
                buscar la forma de poner tres opciones (completo, en curso, abandonado)
            </li>
            <li>
                <h5>Desde</h5>
                <input type="date">
            </li>
            <li>
                <h5>Hasta</h5>
                <input type="date">
            </li>
            <li>
                <h5>Descripcion</h5>
                <input type="text">
            </li>
            <li>
                <button>Guardar cambios</button>
            </li>
        </form>
     </div>
</body>
</html>