*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    z-index: 20;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 35vh;
    background-color: rgb(235, 233, 233);
}

div li {

    display: table-cell;
    justify-content: flex-start;
    float: left;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: auto;
   font-family: Arial, Helvetica, sans-serif;
    
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -10%;
    z-index: 100;
}
.acerca-de {
    display: flex;
    justify-content: space-between;
    align-items: center;
   contain:content;

}