<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="acerca-de.component.css">
</head>
<body>
    <div class="gral">
        
        <li><div class="picture">
            <img [src]="Foto" alt="">
            <h3>Javier Victorio Ramel</h3>
            <h4>Lic. en Cs. y Tenol de los Alimetos</h4>
        </div></li>
        <li>
            <div class="container" >
                <h4>Acerca de</h4>
                 <div class="X-UA-Compatible">Desde diciembre de 2016 soy recibido de Licenciado en Ciencias y Tecnología de los Alimentos y desde entonces estuve asesorando micro empresas en localidades aledañas, además estoy trabajando de docente reemplazante en distintos establecimientos educativos medios.En el año 2019, estuve trabajando en la balanza de la cooperativa de Malabrigo, además cuando trabajaba en Alberto Prieto desempeñaba el papel de balancero, entre otras tareas (laboratorio, perito en granos). en estos años estuve trabajando mucho tiempo en docencia. Soy una persona que constantemente se está capacitando, en el año 2020,  empecé la carrera de Profesorado en Educación Tecnológica y un curso de prosgramación (Argentina Programa) del Ministerio de Desarrollo Productivo.</div>
            </div>
        </li>
        
               

    </div>
</body>
</html>