<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="acerca-de.component.css">
</head>
<body>
    <div class="gral">
        
        <li><div class="picture">
            <img src="Foto.jpg" alt="">
            <h2>Javier Victorio Ramel</h2>
            <h3>Lic. en Cs. y Tenol de los Alimetos</h3>
        </div></li>
        <li><div class="text" >
            <h2>Acerca de</h2>
            <h5>aca voy a escribir algo sobre mi</h5>
        </div></li>
        
               

    </div>
</body>
</html>