<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formacion academica</title>
    <link rel="stylesheet" href="educacion.component.css">

</head>
<body class="square">
    <div class="titulo">
        <h2>Formacion académica</h2> 
        <button class="Add" background-color="green" >Add</button>
    </div>
    
   
    <div class="container">   
        <button  text="editar" background-color="yellow">editar</button>
        <form action="">
            <div class="form"> 
                <img src="Foto.jpg" alt=""> //* buscar ennternet la forma de agregar desde el formulario el logo de la institucio
                
                    <div class="form-group">
                        <label>Titulo Alcanzado</label>
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <label>Institucion</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">                    
                        <label>Nivel</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label>Estado de avance</label>
                        buscar la forma de poner tres opciones (completo, en curso, abandonado)
                    </div>
                    <div class="form-group">
                        <label>Inicio de cursado</label>
                        <input type="date">
                    </div>

                    <div class="form-group">
                        <label>FInalización</label>
                        <input type="date">
                    </div>
                    
                        <button class="btn" background-color="blue">Guardar</button>
                    
                
            </div>
        </form>
    </div>
</body>
</html>
