<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formacion academica</title>
    <link rel="stylesheet" href="educacion.component.css">

</head>
<body class="square">
    <div>
        <h2>Formacion académica</h2>
    </div>

     <div class="form"> 
         <img src="Foto.jpg" alt=""> //* buscar en internet la forma de agregar desde el formulario el logo de la institucio
          <form action="">
            <li>
                <h4>Titulo Alcanzado</h4>
                <input type="text">
            </li>
            <li>
                <h5>Institucion</h5>
                <input type="text" name="" id="">
            </li>
            <li>
                <h5>Estado de avance</h5>
                buscar la forma de poner tres opciones (completo, en curso, abandonado)
            </li>
            <li>
                <h5>Inicio de cursado</h5>
                <input type="date">
            </li>
            <li>
                <h5>FInalización</h5>
                <input type="date">
            </li>
            <li>
                <button>Guardar cambios</button>
            </li>
        </form>
     </div>
</body>
</html>
