<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href = "header.component.css">
        
    </head>
    <body>
        <div  >
            <div class="sup">
                <section>
                        <Li><img src="imagenes/Logo.jpg" alt=""  width="img"></Li>
                        <li><p>Argentina Programa:
                             #Yo programo</p></li>
                </section>
                <nav>
                    <ul> 
                        <li><a href=""><img src="imagenes/Gmail.png" alt=""></a></li>
                        <li><a href="https://www.facebook.com/javier.ramel"><img src="imagenes/Facebook.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/javier_ram13/"><img src="imagenes/Instagram.png" alt=""></a></li>
                        <li><a href="https://twitter.com/JavierRamel"><img src="imagenes/Twitter.png" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/in/javier-victorio-ramel-braidot-77729515/"><img src="imagenes/Linkedin.png" alt="">
                        </a></li>
                        <li><button class="logout"style="border-radius: 40px;">log out</button></li>
                    </ul> 
                </nav>
            </div>
            <img src="imagenes/Fondo.jpg" alt="">
        </div>

    

    </body>
</html>
