<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <app-header>Poner foto y botones</app-header>
    <app-acerca-de>descirpion mia</app-acerca-de>
    <app-educacion> cargar titulos </app-educacion>
    <app-experiencias> trbajos que he realice</app-experiencias>
    <app-proyectos>poner enlace git hub</app-proyectos>
  </body>
</html>